/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


.Topborder {
  height: 100pt;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 50px black;
  width: 100vw;
  display: flex;
  align-items: center; 
  justify-content: space-around;
  padding-left: 0px;
  padding-top: 0px;
  border: 0px;
  margin: 0px;
  padding: 10px;
}

.Topborder h1 {
position: absolute;
padding-right: 1.5rem
}

.ImageLogo {
  height: 70px; /* Adjust the height as needed */
  margin-right: auto;
  padding-left: 0.5rem;
}
 

.Body {
  padding-top: 4rem;
  text-align: center;
  color: #ffffff;
}

.Login {
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5); /* Adjust shadow as needed */
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-47%, -47%);
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 30%;
  display: table;
}

.login-form {
  display: flex;
 justify-content: center
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeeeee;
  transition: background 0.2s, border-color 0.2s;
  margin-bottom: 1rem;
}
    
.form__Input-group {
 display: flex;
 justify-content: center;
}

.form__title {
  display: flex;
  justify-content: center;
}

.form_button {
  font: 500 1rem  'Quicksand', sans-serif;
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #dbdbdbee;
  transition: transform 0.3s ease;
}

.form_button:hover {
  transform: scale(1.1); /* Scales the box up by 20% on mouse hover */
  background: #ebebebee;

 
}

.form_button:active {
transform: scale(0.98);
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-top: 0;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
color: var(--color-success);
}


.form__message--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

body {
  --color-error: #cc3333
  --color-success: #4bb544
}





.LoginLink {
  text-decoration: none;
}